<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HTML FORM</h1>
        <form action="" method="">
            <table>
                <tr>
                    <td>Firstname</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="Email" name="" id=""></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
            
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>